<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/fonts/roboto/Roboto-Bold.woff">
  <meta charset="utf-8">
  <title><%-title%></title>
</head>
</body>
  <h1>
    <marquee>I love <%-message%></marquee>
  </h1>
  <form action='/user' method='post'>
    <input type="text" name="id" value="" placeholder="input id here"><br>
    <input type="text" name="name" value="" placeholder="input name here"><br>
    <input type="submit" value="submit here">
  </form>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <%users.forEach((user)=>{%>
    <tr>
      <td><%=user.id%></td>
      <td><%=user.name%></td>
      <td><button type="button" name="edit"><a href="/user/edit/<%-user.id%>">edit</a></button></td>
      <td><button type="button" name="delete"><a href="/user/delete/<%-user.id%>">delete</a></button></td>
    </tr>
    <%
      })
    %>
  </table>
</body>
</html>