<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/fonts/roboto/Roboto-Bold.woff">
    <meta charset="utf-8">
    <title>template pembawa masalah</title>
  </head>
  <body>
    <div class="container">
      <h2><b> Input your data here</b></h2>
      <form action="/add" method="post">
        <input type="text" name="username">
        <input type="text" name="email">
        <button type="submit">Submit</button></br>
      </form>
    <table>
      <thead>
        <tr>
          <td> ID </td>
          <td> Username </td>
          <td> Email</td>
        </tr>
      </thead>
        <tbody>
          <% let i = 1; datas.forEach((d)=>{ %>      
          <tr>
            <td><%= i++ %></td>                                                                                                                                                                                                                                                                                                           
            <td><%= d.username %></td>
            <td><%= d.email %></td>
            <td><a href="/edit/<%= d.id %>">Edit</a> | <a href="delete/<%= d.id %>">Delete</a></td>
          </tr>
        <%  }) %>      
        </tbody>                                                                                                                                                                                               
    </table>
    </div>    
  </body>
</html>                                                                                   