<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>
  <body>
    <h1>Home</h1>
    <div class="container">

      <div class="section">
        <h5>Users</h5>
        <p>List User</p>
      </div>
      <div class="md8">
        <table class="striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach( (user)=>{ %>
            <tr>
             <td><%= user.id %></td>
             <td><%= user.name %></td>
             <td><%= user.email%></td>
             <td>
               <a href="user/edit/<%= user.id%>" class="btn" target="_blank"><i class="material-icons">mode_edit</i></a>
               <a href="user/delete/<%= user.id%>" class="btn red" target="_self" onclick="return confirm('Are you sure?')"><i class="material-icons">delete</i></a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <form method="get" action="/User/insert/">
        <input type ="submit" value="Insert new user" class="btn-large">
      <form>
    </div>


  </body>
</html>